---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card/index.astro";
---

<script>
  import { stagger, spring, timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../lib/constants";
  const cards = document.querySelectorAll(".card");

  const sequence = [
    loaderAnimation,
    [
      cards,
      { y: ["40%", "0%"], opacity: [0, 1] },
      {
        at: "-0.1",
        duration: 0.4,
        delay: stagger(0.3),
        easing: spring({ velocity: 100, stiffness: 50, damping: 10 }),
      },
    ],
  ];

  timeline(sequence as TimelineDefinition);
</script>

<Layout
  title="Omar Flores - Software Developer"
  description="Software developer with strong focus on the user experience animations and micro interactions"
>
  <main
    class="text-white m-auto p-2 grid gap-2 max-w-6xl overflow-hidden relative w-full sm:p-4 sm:gap-2 md:grid-cols-2 md:gap-3 md:p-6 lg:h-screen lg:grid-rows-8 lg:grid-cols-4 lg:gap-4 lg:max-h-[800px]"
  >
    <Card
      colSpan="lg:col-span-1"
      rowSpan="md:row-span-1"
      title="Inicio"
      href="/"
    />
    <Card
      colSpan="lg:col-span-2"
      rowSpan="md:row-span-2"
      title="RocketGPT"
      body="Diseñe la arquitectura e interfaz grafica de la aplicacion que consiste en una aplicacion que permita comunicarse con un PLC con lenguaje natural."
    />
    <Card
      colSpan="lg:col-span-1"
      rowSpan="md:row-span-3"
      title="RI Estadisticas"
      body="Visualizador de estadisticas de la planta de produccion en tiempo real y con tracking inteligente de piezas."
    />
    <Card
      colSpan="lg:col-span-1"
      rowSpan="md:row-span-3"
      title="RI Produccion"
      body="App Multinivel de roles para el control completo en tiempo real de las piezas que pasa por la fase de diseño hasta la inspeccion de calidad."
    />
    <Card
      colSpan="lg:col-span-2"
      rowSpan="md:row-span-2"
      title="RI Compras"
      body="App multinivel de roles para el control completo en tiempo real de las piezas que pasa por la fase de diseño hasta la inspeccion de calidad."
    />
    <Card
      colSpan="lg:col-span-1"
      rowSpan="md:row-span-3"
      title="Inspire Me"
      body="Motivacion para personas que deseen tener frases diarias y puedan conservar sus favoritas."
      href="https://play.google.com/store/apps/details?id=com.sazarcode.inspire_me"
    />
    <Card
      colSpan="lg:col-span-2"
      rowSpan="md:row-span-2"
      title="Nutriplato"
      body="Aprende sobre Plato del Buen comer y desarrollar un sentido de aprendizaje a la nutricion para México."
      href="https://play.google.com/store/apps/details?id=com.sazarcode.nutriplato"
    />
    <Card
      colSpan="lg:col-span-1"
      rowSpan="md:row-span-1"
      title="AstroType"
      href="https://astrotype.netlify.app/"
    />
    <Card
      colSpan="lg:col-span-1"
      rowSpan="md:row-span-1"
      title="Terminotes"
      href="https://terminotes.netlify.app/"
    />

    <Card
      colSpan="lg:col-span-1"
      rowSpan="md:row-span-2"
      title="Mini Store"
      href="https://github.com/CerberusProgrammer/mini_store"
      body="Mini gestor de inventario y ventas open-source."
    />
    <Card
      colSpan="lg:col-span-1"
      rowSpan="md:row-span-2"
      title="HIIT Master"
      href="https://play.google.com/store/apps/details?id=com.sazardev.master_hiit"
      body="Temporizador & Entrenador personal para potencial los entrenamientos HIIT."
    />
    <Card
      colSpan="lg:col-span-1"
      rowSpan="md:row-span-2"
      title="GMTrips"
      body="Generacion de costo de rutas en Baja California."
      href="https://gmtrips.netlify.app/"
    />
    <Card
      colSpan="lg:col-span-1"
      rowSpan="md:row-span-1"
      title="Notespresso"
      href="https://notespresso.netlify.app/login"
    />
  </main>
</Layout>
