---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="Experiencia">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Mis tecnologias favoritas en las que cuento mayor experiencia por area.
      <br />
      <p class="">Frontend</p>
      <ul class="list-disc list-inside text-xs">
        <li>Flutter</li>
        <li>Astro</li>
        <li>Angular</li>
        <li>TailwindCSS</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      <p class="">Backend</p>
      <ul class="list-disc list-inside text-xs">
        <li>Django</li>
        <li>Spring</li>
        <li>AWS</li>
        <li>Firebase</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      <p class="">Complementario</p>
      <ul class="list-disc list-inside text-xs">
        <li>PostgreSQL</li>
        <li>Postman</li>
        <li>Docker</li>
      </ul>
    </p>
  </div>
</Card>
