---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import { LINKS } from "../lib/constants";
import { Icon } from "astro-icon/components";
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
  <div class="flex w-full h-full">
    <div class="flex flex-col justify-between md:max-h-[300px] gap-4">
      <div class="flex flex-col h-full">
        <h6 class="text-sm font-light m-0 text-gray-500">¡Bienvenido!</h6>
        <p class="m-0 font-light text-xl">
          ¡Hola!, soy <b class="font-bold">Omar Flores</b>, un Desarrollador
          Full Stack apasionado por crear experiencias de usuario excepcionales.
          Mi enfoque se centra en la funcionalidad completa y el diseño centrado
          en el usuario, asegurando que cada aplicación sea accesible, atractiva
          y divertida. 😊
        </p>
      </div>
      <div class="flex gap-4">
        <a href={LINKS.github} aria-label="github profile" target="_blank">
          <Button aria-label="github profile">
            <Icon name="ri:github-fill" class="h-6" />
            <span class="sr-only">GitHub</span>
          </Button>
        </a>
        <a href={LINKS.linkedin} aria-label="linkeding profile" target="_blank">
          <Button aria-label="linkedin profile">
            <Icon name="ri:linkedin-box-fill" class="h-6" />
            <span class="sr-only">Linkedin</span>
          </Button>
        </a>
      </div>
    </div>
  </div>
</Card>
