---
import Pulse from "./Pulse.astro";
---

<div class="flex justify-between w-full items-start mb-2">
  <div class="flex flex-col">
    <h2>R&I Automatización</h2>
    <p>
      <span class="text-xs text-gray-500 cursor-pointer">Trabajo actual</span>
    </p>
  </div>
  <Pulse />
</div>
<p class="text-xs">
  Lider de departamento a cargo de los sistemas de software para compras y
  produccion de la empresa.
</p>
