---
import Pulse from "./Pulse.astro";
---

<div class="flex justify-between w-full items-start mb-2">
  <div class="flex flex-col">
    <h2>GM Transport</h2>
    <p>
      <span class="text-xs text-gray-500 cursor-pointer">Trabajo actual</span>
    </p>
  </div>
  <Pulse />
</div>
<p class="text-xs">
  Encargado de implementar nuevos componentes en el area de desarrollo web.
</p>
