---
import Pulse from "./Pulse.astro";
---

<div class="flex justify-between w-full items-start mb-2">
  <div class="flex flex-col">
    <h2>GM Transport</h2>
    <p>
      <span class="text-xs text-gray-500 cursor-pointer">Trabajo actual</span>
    </p>
  </div>
  <Pulse />
</div>
<p class="text-xs">
  Arquitecto de soluciones digitales, liderando el desarrollo de aplicaciones
  web con React, móviles con Flutter y backend con Go/Java. Gestiono la
  infraestructura DevOps, optimizo bases de datos PostgreSQL y diseño sistemas
  escalables para diversos proyectos empresariales.
</p>
